.wrapper
  = render "shared/side_bar"
  = render "main_chat"

  -# .chat
  -#   .header
  -#     .left-header
  -#       .left-header__title
  -#         Group name
  -#       %ul.left-header__members
  -#         Member：
  -#         %li.member
            
  -#         %li.member
            
  -#         %li.member
            
  -#     .right-header
  -#       .right-header__button
  -#         Edit
  -#   .messages
  -#     .message
  -#       .upper-message
  -#         .upper-message__user-name
            
  -#         .upper-message__date
            
  -#       .lower-meesage
  -#         .lower-message__content
            
  -#     .message
  -#       .upper-message
  -#         .upper-message__user-name
            
  -#         .upper-message__date
            
  -#       .lower-meesage
  -#         .lower-message__content
            
  -#     .message
  -#       .upper-message
  -#         .upper-message__user-name
            
  -#         .upper-message__date
            
  -#       .lower-meesage
  -#         .lower-message__content
            
  -#   .form
  -#     %form
  -#       %input.form__message
  -#       .form__mask
  -#         %label.form__mask__image
  -#           = icon('fa','image',class: 'icon')
  -#           %input.hidden{type: 'file'}
  -#       %input.form__submit{type: 'submit', value: 'Send'}
